<article class="book-card">

    <div class="book-card__image">

        <img 
        src="assets/images/books/default-book.jpg" 
        alt="Capa do livro">

    </div>


    <div class="book-card__content">

        <h3 class="book-card__title">
            Título da obra
        </h3>


        <p class="book-card__category">
            Categoria do livro
        </p>


        <p class="book-card__description">
            Descrição resumida da obra para estudo e pesquisa.
        </p>


        <a href="#" class="button-primary book-card__action">
            Começar estudo
        </a>


    </div>

</article>