<article class="book-card">
    <div class="book-card__cover">
        <i class="fa-solid fa-book-open"></i>
    </div>

    <div class="book-card__content">
        <h3 class="book-card__title">
            Apócrifo de João
        </h3>

        <p class="book-card__collection">
            Biblioteca de Nag Hammadi
        </p>

        <div class="book-card__meta">

            <span>Século II</span>

            <span>Intermediário</span>

        </div>

        <a
            href="#"
            class="button button--primary">

            Continuar leitura
        </a>
    </div>

</article>