<section class="search">

    <form class="search-form">

        <label 
        for="search-input" 
        class="search-form__label">
            Pesquisar na biblioteca
        </label>


        <div class="search-form__group">

            <input 
            type="search" 
            id="search-input"
            class="search-form__input"
            placeholder="Pesquisar livros, autores ou temas...">


            <button 
            type="submit" 
            class="button-primary search-form__button">

                Pesquisar

            </button>

        </div>


    </form>

</section>