*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--color-background);
    color:var(--color-text);

    font-family:var(--font-text);
    line-height:1.7;

}

img{

    display:block;
    max-width:100%;

}

a{

    color:inherit;
    text-decoration:none;

}

button{

    border:none;
    background:none;
    cursor:pointer;

}

ul{

    list-style:none;

}